.app {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  padding: 20px;
  flex-direction: row;
  box-sizing: border-box;
}

.editor {
  background-color: magenta;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  width:100%;
  max-width: 800px; 
}

.code {
  height: 60%;
  width: 100%;
}

.question {
  background-color: cyan;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  width:100%;
  max-width: 400px; 
}